@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,900');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
    font-weight: 30;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

/* ---------------------------------------- TOPNAV ------------------------------- */

#header {
    background-color: #484D4F;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    height: 9vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo_div {
    position: absolute;
    left: 0;
    border-right: 1px solid #565B5D;
    width: 6vw;
    height: 100%;
    display: flex;
    align-items: center;
    transition: 0.05s ease-in-out;
}

#logo_div:hover {
    background-color: rgb(40,40,40);
}

#logo {
    height: 3vw;
    width: 3vw;
    margin: 0 auto;
}

#dropdown {
    position: absolute;
    width: 20vw;
    font-size: 20px;
    left: 6vw;
    color: white;
    text-align: center;
    display: flex;
    padding-left: 4vw;
    align-items: center;
    height: 100%;
    transition: 0.05s ease-in-out;
}

#dropdown:hover {
    background-color: rgb(40,40,40);
}

#gps_ico {
    float: left;
    width: 2vw;
    height: 2vw;
    padding: 3px;
    box-sizing: border-box;
    margin: 0 0.5vw 0 0vw;
}

.dropdown-content {
    display: none;
}

#down_ico {
    width: 2vw;
    height: 2vw;
    padding: 8px 4px 4px;
    box-sizing: border-box;
    margin-left: 0.5vw;
}

input {
    outline: none;
    border: none;
    padding: none;
}

input:focus {
    outline: none;
}

#search {
    position: absolute;
    width: 47vw;
    font-size: 14px;
    left: 28vw;
    background-color: white;
    display: flex;
    padding-left: 1vw;
    align-items: center;
    height: 60%;
    border-radius: 3px;
    float: left;
}

#search_ico {
    position: absolute;
    left: 74vw;
    background-color: rgb(230,230,230);
    width: 2.5vw;
    height: 60%;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    display: flex;
    border-radius: 3px;
    align-items: center;
}

#signup {
    position: absolute;
    left: 79vw;
    width: 11vw;
    height: 100%;
    float: left;
    font-size: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.05s ease-in-out;
}

#login {
    position: relative;
    margin-top: -25px;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

#signdown_ico {
    position: relative;
    margin-left: 5px;
    width: 1vw;
    height: 1vw;
}

#signup:hover {
    background-color: rgb(40,40,40);
}

#cart {
    float: left;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9vw;
    left: 90vw;
    transition: 0.05s ease-in-out;
    font-size: 15px;
    color: white;
    height: 100%;
    border-left: 1px solid #565B5D;
}

#cart_ico {
    width: 2vw;
    height: 2vw;
    float: left;
    margin-right: 0.3vw;
    position: relative;
}

#cart:hover {
    background-color: rgb(40,40,40);
}

/* --------------------------------------- CONTAINER ------------------------------------------- */

#container {
    background-color: #F9F9F9;
    position: absolute;
    top: 9vh;
    left: 0;
    width: 100vw;
    min-height: 91vh;
}

.content {
    background-color: white;
    width: 90vw;
    margin: 2vh auto;
    min-height: 20vh;
    border: 1px solid rgb(230,230,230);
}

#scroll {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

#products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
    height: 25vh;
    width: 90vw;
    box-sizing: border-box;
}

#left_arrow {
    width: 3vw;
    height: 3vw;
    transform: rotate(90deg);
    border-radius: 50%;
    padding: 4px;
    background-color: rgb(200,200,200);
    cursor: pointer;
}

#right_arrow {
    width: 3vw;
    height: 3vw;
    transform: rotate(-90deg);
    border-radius: 50%;
    padding: 4px;
    background-color: rgb(200,200,200);
    cursor: pointer;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: gray;
    min-width: 10vw;
    margin: 10px;
    box-sizing: border-box;
    transform: translateX(550px);
    transition: 0.3s 'ease-in-out';
}

.category {
    width: 5.5vw;
    height: 5.5vw;
}

.product span {
    display: flex;
}

#offers {
    height: 40vh;
    position: relative;
}

#left2_arrow {
    position: absolute;
    left: 1vw;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    padding: 3px;
    background-color: rgb(200,200,200);
    border-radius: 50%;
    height: 3vw;
    width: 3vw;
    cursor: pointer;
    z-index: 10;
}

#right2_arrow {
    position: absolute;
    right: 1vw;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    padding: 3px;
    background-color: rgb(200,200,200);
    border-radius: 50%;
    height: 3vw;
    width: 3vw;
    cursor: pointer;
    z-index: 10;
}

#banners {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 90vw;
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    flex-wrap: nowrap;
}

.banner {
    display: block;
    position: relative;
    float: left;
    top: 0;
    width: 90vw;
    height: 100%;
}

.offer {
    position: relative;
    width: 80vw;
    margin: 0 5vw;
    height: 100%;
    top: 0;
    left: 0;
}

.heading {
    color: black;
    font-weight: 600;
    font-size: 20px;
    left: 5vw;
    margin: 2vh 0;
    position: absolute;
}

.view_all {
    color: #E96125;
    font-size: 15px;
    position: absolute;
    right: 5vw;
    margin: 2vh 0;
    font-weight: 600;
}

.view_all:hover {
    text-decoration: underline;
}

#promos {
    height: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    border: none;
}

.next_slide {
    position: absolute;
    right: 0;
    width: 2vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(180,180,180);
    opacity: 0.7;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.next_slide:hover {
    background-color: rgb(150,150,150);
}

.next_slide img {
    width: 2vw;
    height: 2vw;
    padding: 2px;
    transform: rotate(-90deg);
}

.promo {
    background-color: #3A4FBB;
    padding-top: -2vh;
    margin: 2vh 2vh 0 0;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
    height: 100%;
    width: 14vw;
}

.promo_heading {
    margin: -4vh 0 0 0;
    text-align: center;
    font-size: 23px;
    color: white;
    font-weight: 900;
}

.promo_type {
    margin: 0;
    text-align: center;
    font-size: 19px;
    color: white;
    font-weight: 900;
}

.promo_details {
    margin: 0;
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: 900;
}

.bank_logo {
    width: 14vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    bottom: 0;
    position: absolute;
    border: 1px solid #F9F9F9;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.bank_logo >img {
    width: 70%;
    height: 95%;
}

#bachat {
    position: relative;
    margin-top: 11vh;
    min-height: 50vh;
    padding: 15px;
    background-color: #FFD15D;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

#bachat_details {
    color: #E22255;
    width: 17vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bachat_details :first-child {
    font-size: 15px;
    text-align: center;
    margin-top: 0vh;
    font-weight: 400;
}

#bachat_details > img {
    width: 10vw;
    height: 25vh;
}

#bachat_details a {
    color: #F1976F;
    text-decoration: none;
    background-color: white;
    width: 13vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

#start_shopping {
    width: 60%;
    font-size: 18px;
    font-weight: 600;
}

.bachat_offers {
    position: relative;
    display: flex;
    background-color: white;
    margin: 0 2vh;
    border-radius: 4px;
    width: 17vw;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: flex-start;
}

.discount {
    background-color: #F2FEF2;
    color: #58AE24;
    position: absolute;
    left: 1vw;
    top: 0vh;
    min-width: 4vw;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #58AE24;
    min-height: 2vh;
    z-index: 10;
}

.bachat_offers img {
    margin: 6vh auto 0;
    width: 12vw;
    height: 20vh;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.bachat_offers > img:hover {
    transform: translateY(-7px);
}

.product_name {
    margin-top: 1vh;
    width: 15vw;
    text-align: left;
    font-size: 14px;
}

.quantity {
    margin: 0vh 0  0 1vh;
    font-size: 14px;
    text-align: left;
    width: 15vw;
    color: rgb(150,150,150);
}

.add_to_cart {
    width: 15vw;
    margin-left: 0.8vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.prices {
    position: relative;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.final_price {
    margin-bottom: 0;
    margin-left: 0;
}

.initial_price {
    margin-left: 0;
    margin-top: 0;
    text-decoration-line: line-through;
}

.cart_btn {
    position: relative;
    margin-left: 3.3vh;
    background-color: #C74B14;
    color: white;
    min-width: 8vw;
    font-size: 13px;
    min-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.club_price {
    width: 90%;
    background-color: #EDFBFD;
    color: #92DEE7;
    border: 1px solid #92DEE7;
    border-radius: 4px;
    display: flex;
    height: 4vh;
    font-weight: 600;
    font-size: 12px;
    flex-direction: row;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 2vh;
}

.club_price img {
    width: 2vw;
    height: 1.8vw;
    position: relative;
    top: -1.3vw;
    left: -1vw;
    transform: none;
}

#others {
    position: relative;
    margin-top: 11vh;
    min-height: 49vh;
    padding: 0px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

#others > .bachat_offers {
    border: 1px solid rgb(230,230,230);
    margin: 0;
    padding: 4px;
    height: 100%;
    border-radius: 0;
    border-collapse: separate;
    transition: 0.2s ease-in-out;
}

#others > .bachat_offers:hover {
    border: 1px solid rgb(180,180,180)
}

#others .product_name, .quantity, .add_to_cart {
    width: 14vw;
}

#categories2 {
    margin-top: 11vh;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}

.category2 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 25vh;
    background-color: white;
    width: 44vw;
    margin: 1vw 1vw 0 0; 
    cursor: pointer;
}

.category2:hover {
    border: 1px solid rgb(190,190,190);
}

.grp_products {
    position: absolute;
    left: 1vw;
    width: 13vw;
    height: 22vh;
}

.category2_details {
    display: flex;
    flex-direction: column;
    left: 6vw;
    position: relative;
    font-size: 20px;
    width: 27vw;
}

.right_prod {
    position: relative;
    right: -6vw;
    width: 2vw;
    height: 5vh;
}

.off {
    position: relative;
    top: 6vh;
    left: 1vw;
    color: #58AE24;
    font-weight: 900;
    font-size: 12px;

}

.special_name {
    position: relative;
    left: 1vw;
    top: 2.5vh;
    font-size: 23px;
    color: rgb(40,40,40);
    font-weight: 600;
}

.special_descrip {
    position: relative;
    left: 1vw;
    top: -2vh;
    font-size: 15px;
    color: rgb(40,40,40);
}

.footer {
    width: 100vw;
    min-height: 10vh;
    left: 0;
    position: relative;
}

.description {
    width: 90vw;
    margin: 2vh auto;
    color: rgb(40,40,40);
    font-size: 16px;
    font-weight: 600;
}

.f_head {
    color: rgb(40,40,40);
    font-weight: 600;
    position: relative;
    left: 5vw;
    width: 90vw;
    margin: 2vh 0;
    font-size: 13px;
}

.f_descrip {
    color: rgb(70,70,70);
    font-weight: 400;
    position: relative;
    left: 5vw;
    width: 90vw;
    margin: 2vh 0;
    font-size: 10px;
}

.p_heading {
    font-size: 13px;
    color: rgb(90,90,90);
    font-weight: 900;
    left: 5vw;
    position: relative;
    margin-top: 2vh;
}

#payment {
    position: relative;
    left: 4vw;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2vh;
}

#payment img {
    width: 5vw;
    height: 8vh;
    margin: 10px;
}

#payment p {
    font-size: 11px;
    color: rgb(90,90,90);
    margin: 10px;
}

#end {
    font-size: 13px;
    color: rgb(90,90,90);
    position: relative;
    left: 5vw;
    margin-bottom: 5vh;
}